<div class="container">
    <div class="bloc-top">
        <h2>Add your product and get funds</h2>
    </div>
<div class="row">

  <div class="col-lg-8">
      <form style="margin-bottom: 20px;">
          <div class="form-group">
            <label for="exampleInputEmail1">Product title</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Product title">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Product description</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insert a short description">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">What problem do you solve?</label>
                <textarea class="form-control"></textarea>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Describe what you’ll be creating.</label>
                  <textarea class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Why people should invest in your idea?</label>
                    <textarea class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">What do you offer?</label>
                      <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="exampleInputEmail1">Base product price</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="$">
                                    </div>
                            <div class="col">
                                <label for="exampleInputEmail1">Your reduction</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="%">
                                    </div>
                          </div>
                        
                    </div>
                  <p><i>You will receive a confirmation within 24 hours if you product has been accepted or not.                    </i></p>
          <button type="submit" class="btn btn-primary w-100">Send</button>
        </form>
        
  </div>
  <div class="col-lg-4">
    <div class="howItWork">
      <h2>Why add your product here?</h2>
      <p>Because it's free, <b>Kicktech</b> take only 8% per trasaction when people fund your product.</p>
    </div>

    <div class="howItWork">
        <h2>How long are the campagne?</h2>
        <p>The campaign stay on KICKTECH as long as you want, it is you who will end.</p>
    </div>

    <div class="howItWork">
        <h2>What happen at the end?</h2>
        Once the crowdfunding campaign is over, you have the money in 48h and all the email list of your future users who bought your product
      </div>
  </div>
</div>
</div>
