

<div class="container">
 <div class="bloc-top">
     <h2>Help popular upcoming Products by funding them.</h2>
     <p>Get cut up to 25% from their products on pre sales. You have product? <a routerLink="/add-product">Start here</a></p>
 </div>
   <div class="row">
     <div routerLink="/product/1" class=" col-md m-4   bloc">
       <div class="cut-off">20% off</div>
       <img src="https://ph-files.imgix.net/467e7f9b-97f4-4718-8ea2-1a8c1662deb9?auto=format&auto=compress&codec=mozjpeg&cs=strip">
       <div class="inside-bloc">
           <div class="title">Algo by AirDev</div>
           <div class="description">Turn a Google Sheet into a shareable web app in 5 minutes</div>
           <div class="info">
             <span><b>15 </b>helpers</span>
             <span><b>5</b> days to go</span>
           </div>
       </div>
      </div>
       <div class="col-md m-4 bloc">
           <div class="cut-off">20% off</div>
         <img src="https://ph-files.imgix.net/467e7f9b-97f4-4718-8ea2-1a8c1662deb9?auto=format&auto=compress&codec=mozjpeg&cs=strip">
           <div class="inside-bloc">
               <div class="title">Algo by AirDev</div>
               <div class="description">Turn a Google Sheet into a shareable web app in 5 minutes</div>
               <div class="info">
                 <span><b>15 </b>helpers</span>
                 <span><b>5</b> days to go</span>
               </div>
           </div>
           </div>
           <div class="col-md m-4 bloc">
               <div class="cut-off">20% off</div>
               
               <img src="https://ph-files.imgix.net/467e7f9b-97f4-4718-8ea2-1a8c1662deb9?auto=format&auto=compress&codec=mozjpeg&cs=strip">
               <div class="inside-bloc">
                   <div class="title">Algo by AirDev</div>
                   <div class="description">Turn a Google Sheet into a shareable web app in 5 minutes</div>
                   <div class="info">
                     <span><b>15 </b>helpers</span>
                     <span><b>5</b> days to go</span>
                   </div>
               </div>
               </div>
 </div>
</div>
